<div class="credit-card">
    <div class="d-flex justify-content-beetwen align-items-center border__card">
        <div class="d-flex">
            <img src="./assets/icons/icon-credit-card.png" class="icon-item" title="Hand" alt="Hand">
            <h2>Cartão de Crédito</h2>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-beetwen credit-card--item">
        <div class="d-flex flex-direction-column">
            <span>123456789</span>
            <span>Caio de Souza Silva</span>
        </div>
        <span>MASTER CARD</span>
    </div>
    <div class="d-flex align-items-center justify-content-beetwen credit-card--item">
        <span>Limite de Compra</span>
        <span>R$: 10000,00</span>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-beetwen credit-card--item">
        <span>Disponível</span>
        <span>R$: 12000,00</span>
    </div>
    <div class="d-flex align-items-center justify-content-beetwen credit-card--item">
        <span>Limite de Saque</span>
        <span>R$: 20000,00</span>
    </div>
    <hr>
    <div class="d-flex align-items-center justify-content-beetwen credit-card--item">
        <span>Disponível</span>
        <span>R$: 13000,00</span>
    </div>
    <div class="d-flex align-items-center justify-content-beetwen credit-card--item">
        <span>Limite Total utilizado</span>
        <span>R$: 30000,00</span>
    </div>
</div>