<div class="balance-card">
    <div class="d-flex justify-content-beetwen align-items-center border__card">
        <div class="d-flex">
            <img src="./assets/icons/icon-hand.png" class="icon-item" title="Hand" alt="Hand">
            <h2>Saldos disponíveis</h2>
        </div>
        <span>R$: 100,00</span>

    </div>
    <app-card-item text="Conta Corrente" value="R$: 200,00"></app-card-item>
    <hr>

    <app-card-item text="Conta Corrente Saldo Vinculados" value="R$: 300,00"></app-card-item>

    <hr>

    <app-card-item text="Conta Poupança Saldo Vinculados" value="R$: 400,00"></app-card-item>

    <hr>

    <app-card-item text="Investimento Com Baixa automática" value="R$: 500,00"></app-card-item>

    <hr>

    <app-card-item text="Investimento Sem Baixa automática" value="R$: 500,00"></app-card-item>

    <hr>

    <div class="bg-grey">
        <app-card-item text="Saldo Total" value="R$: 1000,00"></app-card-item>
        <app-card-item text="Livre para movimentação" value="R$: 1000,00"></app-card-item>

    </div>
</div>