

    <div class="info-card">
        <div class="d-flex justify-content-beetwen align-items-center border__card border__card--blue">
            <div class="d-flex">
                <img src="./assets/icons/icon-client.png" class="icon-item" title="Hand" alt="Hand">
                <h2>Informações do CLiente</h2>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-beetwen info-card--item">

            <span>Nome</span>
            <span>Caio de Souza Silva</span>


        </div>
        <hr>
        <div class="d-flex align-items-center justify-content-beetwen info-card--item">

            <span>Idade</span>
            <span>24 Anos</span>

        </div>
        <hr>
        <div class="d-flex align-items-center justify-content-beetwen info-card--item">
            <span>Renda Mensal</span>
            <span>-1000,00</span>
        </div>
    </div>


